name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          tools: composer
      - run: composer install
      - run: vendor/bin/phpcs --standard=PSR12 src/ tests/
      - run: vendor/bin/phpunit
